<app-nav></app-nav>
<div class="container position-relative text-center py-5">
  <header class="position-relative text-center text-white mb-5">
    <img src="assets/img/banner2.jpg" class="w-100" alt="Banner">
    <div class="position-absolute top-50 start-50 translate-middle-x w-100 px-3">
      <h1 class="display-4">Novedades</h1>
    </div>
  </header>
  <div class="row">
    <div class="col-xl-4 col-lg-6 col-md-8 col-sm-12" *ngFor="let articulo of articulos">
      <a href="detalleproducto/{{articulo.id}}">
        <div class="card m-2">
          <img src="{{articulo.images}}" class="card-img-top" height="300" alt="Product">
          <div class="card-body">
            <p class="card-text fw-bold">
              {{articulo.title}}
            </p>
            <small class="text-secondary">{{articulo.price}} €</small>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
<app-footer></app-footer>
