<!-- TODO mostrar todas bien y bucles -->
<div class="container  overflow-hidden text-center py-3 ">
  <div class="row gy-5 h-100 ">
    <div class="col-lg-6 col-sm-12 justify-content-center">
      <div class="main">

        <ul class="cards ">
          <li class="cards_item w-100">
            <div class="card w-100">
              <div class="card_image"><img src="https://picsum.photos/500/300/?image=5"></div>
              <div class="card_content">
                <h2 class="card_title">Electrónica</h2>
                <p class="card_text">Demo of pixel perfect pure CSS simple responsive card grid layout</p>
                <button class="btn card_btn">Ver más</button>
              </div>
            </div>
          </li>
        </ul>

      </div>
    </div>
    <div class="col-lg-6 col-sm-12">
      <ul class="cards ">
        <li class="cards_item w-100">
          <div class="card w-100">
            <div class="card_image"><img src="https://media.revistagq.com/photos/62962195a59bf62af3fe45e3/16:9/w_2560%2Cc_limit/11.jpeg"></div>
            <div class="card_content">
              <h2 class="card_title">Relojes</h2>
              <p class="card_text">Demo of pixel perfect pure CSS simple responsive card grid layout</p>
              <button class="btn card_btn">Ver más</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-lg-6 col-sm-12">
      <ul class="cards ">
        <li class="cards_item w-100">
          <div class="card w-100">
            <div class="card_image"><img src="https://www.hogarmania.com/archivos/201911/ropa-listado-belleza-848x477x80xX.jpg"></div>
            <div class="card_content">
              <h2 class="card_title">Ropa</h2>
              <p class="card_text">Demo of pixel perfect pure CSS simple responsive card grid layout</p>
              <button class="btn card_btn">Read More</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-lg-6 col-sm-12">
      <ul class="cards ">
        <li class="cards_item w-100">
          <div class="card w-100">
            <div class="card_image"><img src="https://picsum.photos/500/300/?image=10"></div>
            <div class="card_content">
              <h2 class="card_title">Card Grid Layout</h2>
              <p class="card_text">Demo of pixel perfect pure CSS simple responsive card grid layout</p>
              <button class="btn card_btn">Read More</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
