<div class="container">
  <div class="row">
    <div class="wrap  text-center mt-3 bg-secondary">
      <h2 class="mb-3">Register</h2>
      <form>
        <div class="user">
          <input type="text" name="" required="">
          <label>Username</label>
        </div>
        <div class="user">
          <input type="text" name="" required="">
          <label>First Name</label>
        </div>
        <div class="user">
          <input type="text" name="" required="">
          <label>Last Name</label>
        </div>
        <div class="user">
          <input type="email" name="" required="">
          <label>Email</label>
        </div>
        <div class="user">
          <input type="password" name="" required="">
          <label>Password</label>
        </div>
        <div class="user">
          <input type="date" name="" >
          <label></label>
        </div>
        <a href="login">
          Sign in
        </a>
        <a href="register">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Register
        </a>
      </form>
    </div>
  </div>
</div>
